<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">
    <img src="{{ url_for('static', filename='img/logo.png') }}">
    <h2>Panel de Control</h2>
</div>

<div class="container">
    <div class="card">
        <h2>Bienvenido {{ user }}</h2>

        <div class="menu">
            <a href="/examen">Iniciar examen</a>
            <a href="/logout">Cerrar sesión</a>
        </div>
    </div>
</div>

</body>
</html>
