<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">
    <img src="{{ url_for('static', filename='img/logo_sin_fon.png') }}">
    <h2>Registro de Usuario</h2>
</div>

<div class="container">
    <div class="card">
        <h2>Crear cuenta</h2>

        <form action="/auth/register" method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
    </form>

        <a href="/">← Volver al login</a>
    </div>
</div>

<div class="footer">
    <p>Sistema de Evaluación Médica</p>
</div>

</body>
</html>
